<h1>Ask the Coach</h1>

<form action="/answer" method="get">
  <div class="form-group">
    <input type="text" name="question" placeholder="What is your question?">
  </div>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
